In [6]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv('japan_heart_attack_dataset.csv')

In [3]:
df.describe

<bound method NDFrame.describe of        Age  Gender Region Smoking_History Diabetes_History  \
0       56    Male  Urban             Yes               No
1       69    Male  Urban              No               No
2       46    Male  Rural             Yes               No
3       32  Female  Urban              No               No
4       60  Female  Rural              No               No
...    ...     ...    ...             ...              ...
29995   68  Female  Urban              No               No
29996   69    Male  Urban              No              Yes
29997   23  Female  Rural              No               No
29998   45    Male  Rural              No               No
29999   45    Male  Urban              No               No

      Hypertension_History  Cholesterol_Level Physical_Activity Diet_Quality  \
0                       No         186.400209          Moderate         Poor
1                       No         185.136747               Low         Good
2                       No         210.696611               Low      Average
3                       No         211.165478          Moderate         Good
4                       No         223.814253              High         Good
...                    ...                ...               ...          ...
29995                   No         200.331218          Moderate      Average
29996                   No         211.305863               Low         Good
29997                   No         247.182956          Moderate      Average
29998                   No         222.262521               Low         Poor
29999                   No         253.135837          Moderate      Average

      Alcohol_Consumption  ...  Extra_Column_6  Extra_Column_7  \
0                     Low  ...        0.007901        0.794583
1                     Low  ...        0.083933        0.688951
2                Moderate  ...        0.227205        0.496344
3                    High  ...        0.403182        0.741409
4                    High  ...        0.689787        0.904574
...                   ...  ...             ...             ...
29995                 Low  ...        0.372851        0.232427
29996            Moderate  ...        0.255930        0.114399
29997                High  ...        0.454533        0.639710
29998                High  ...        0.691867        0.984095
29999            Moderate  ...        0.552342        0.990695

       Extra_Column_8  Extra_Column_9  Extra_Column_10 Extra_Column_11  \
0            0.290779        0.497193         0.521995        0.799657
1            0.830164        0.634490         0.302043        0.043683
2            0.752107        0.181501         0.629180        0.018276
3            0.223968        0.329314         0.143191        0.907781
4            0.757098        0.337761         0.362375        0.728552
...               ...             ...              ...             ...
29995        0.790024        0.749277         0.293136        0.365538
29996        0.676403        0.758869         0.306554        0.850764
29997        0.778570        0.456975         0.316832        0.995417
29998        0.130295        0.934793         0.269407        0.589667
29999        0.128793        0.375513         0.345621        0.552751

      Extra_Column_12  Extra_Column_13  Extra_Column_14  Extra_Column_15
0            0.722398         0.148739         0.834010         0.061632
1            0.451668         0.878671         0.535602         0.617825
2            0.063227         0.146512         0.997296         0.974455
3            0.542322         0.922461         0.626217         0.228606
4            0.176699         0.484749         0.312091         0.452809
...               ...              ...              ...              ...
29995        0.199151         0.046626         0.145350         0.017896
29996        0.183183         0.701222         0.637014         0.095714
29997        0.516702         0.717160         0.061395         0.398348
29998        0.927645         0.334294         0.706216         0.667204
29999        0.142307         0.220502         0.553921         0.391322

[30000 rows x 32 columns]>

In [4]:
men = (df['Gender'] == 'Male').sum()
women = (df['Gender'] == 'Female').sum()

In [5]:
print(men,women)

15067 14933